Thumbs.db
thesis/report/01-introduction.aux
thesis/report/02-research.aux
thesis/report/03-implementation.aux
thesis/report/04-results.aux
thesis/report/report.aux
thesis/report/report.log
thesis/report/report.out
thesis/report/report.synctex.gz
thesis/report/report.toc
thesis/report/report.xdy
thesis/research/softcore.aux
thesis/research/softcore.log
thesis/research/softcore.out
thesis/research/softcore.synctex.gz
thesis/research/softcore.toc